@model IEnumerable<RecipeBook.Models.RecipeUserView>

@{ ViewData["Title"] = "Index"; }

<div class="row">
    <div class="col-8">
        <a asp-action="Create">Create New</a>

    </div>
    <div class="col-4">
        <nav aria-label="Page navigation example">
            <ul class="pagination">

                @{ string DisableClassPrevious = "";
                    if (ViewBag.Previous == null)
                    {
                        DisableClassPrevious = " disabled";
                    }
                    <li class="page-item @DisableClassPrevious"><a class="page-link" href="/recipe/@ViewBag.Previous">Previous</a></li>
                    for (int i = 1; i < ViewBag.Total; i++)
                    {
                        <li class="page-item"><a class="page-link" href="/recipe/@i">@i</a></li>
                    }

                    string DisableClassNext = "";
                    if (ViewBag.Next == null)
                    {

                        DisableClassNext = " disabled";
                    }

                    <li class="page-item @DisableClassNext"><a class="page-link" href="/recipe/@ViewBag.Next">Next</a></li>
                }

            </ul>
        </nav>
    </div>
</div>
<br />
@foreach (var item in Model)
{
    <div class="crd">

        @if (item.RecipeImages.Count > 0)
        {
            <img src="~/RecipeImages/@Html.DisplayFor(modelItem => item.RecipeImages[0].Image)" class="img-fluid" />

        }
        <div class="alert alert-secondary" role="alert">
            <div class="row">
                <div class="col-6">
                    <span style="font-size:20px">@Html.DisplayFor(modelItem => item.RecipeName)</span>
                </div>
                <div class="col-2">

                </div>
                <div class="col-4">
                    <span style="font-size:12px">@Html.DisplayFor(modelItem => item.RecipeTimeToComplete)</span>
                </div>
            </div>
        </div>
        <div class="container">
            <img src="~/Images/@item.Image" class="img-thumbnail" /> @item.Name
            <p class="card-text">@Html.DisplayFor(modelItem => item.RecipeDescription)</p>
            <hr />
            <div class="row">
                <div class="col-sm">
                    @Html.ActionLink("Details", "Details", new { id = @item.RecipeId },
                                                    new { @class = "btn btn-outline-info btn-lg btn-block" })
                </div>
                @if (Convert.ToInt32(User.FindFirst("Id").Value) == item.Id)
                {
                    <div class="col-sm">
                        @Html.ActionLink("Edit", "Edit", new { id = @item.RecipeId },
                                                      new { @class = "btn btn-outline-primary btn-lg btn-block" })
                    </div>

                    <div class="col-sm">
                        @Html.ActionLink("Delete", "Delete", new { id = @item.RecipeId },
                                                          new { @class = "btn btn-outline-danger btn-lg btn-block" })

                    </div>
                }
            </div>
        </div>
    </div>
}